/* BEGIN-SNIPPET insert-destroy.css */
.example-enter {
  opacity: 0;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
/* END-SNIPPET */

/* BEGIN-SNIPPET class-add-removal.css*/
.is-important-add, .is-important-remove {
  transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.is-important,
.is-important-add.is-important-add-active {
  color: red;
  font-size: 1.5em;
}

.is-important-remove.is-important-remove-active {
  font-size: 1.0em;
  color: black;
}
/* END-SNIPPET */
