/* BEGIN-SNIPPET insert-destroy.css */
.example-enter, .example-leave-to {
  opacity: 0;
  max-height: 0px;
}

.example-enter-active, .example-leave-active {
  transition: all 0.5s ease-in;
}

.example-enter-to, .example-leave {
  opacity: 1;
  max-height: 50px;
}
/* END-SNIPPET */

/* BEGIN-SNIPPET insert-destroy-verbose.css */
.duration-500 {
  transition-duration: 500ms;
}

.opacity-0 {
  opacity: 0;
}

.opacity-100 {
  opacity: 100;
}

.max-h-12	{
  max-height: 3rem;
}

.max-h-0	{
  max-height: 0;
}
/* END-SNIPPET */

/* BEGIN-SNIPPET class-add-removal.css*/
.is-important-add-to, .is-important {
  color: red;
  font-size: 1.5em;
}

.is-important-add-active, .is-important-remove-active {
  transition: all 0.5s ease-in;
}

.is-important-remove-to {
  font-size: 1.0em;
  color: black;
}
/* END-SNIPPET */

/* BEGIN-SNIPPET class-add-removal-verbose.css*/
.duration-1000 {
  transition-duration: 1000ms;
}

.duration-200	{
  transition-duration: 200ms
}

.text-red-600	{
  color: #e53e3e;
}

.text-black	{
  color: #000000;
}

.text-base {
  font-size: 1rem;
}

.text-2xl {
  font-size: 1.5rem;
}
/* END-SNIPPET */
