<DocsViewer as |viewer|>

  <viewer.nav as |nav|>
    <nav.item @label="Introduction" @route="docs.index"/>
    <nav.item @label="Animating insert/destroy" @route="docs.insert-destroy"/>
    <nav.item @label="Animating class add/removal" @route="docs.add-removal"/>
  </viewer.nav>

  <viewer.main>
    <div class="docs-container">
      <div class="docs-section">
        {{outlet}}
      </div>
    </div>
  </viewer.main>

</DocsViewer>