
<h2>Implementation:</h2>

<div class="row">

    <div class="col-md-6">

      <h3>As a mixin:</h3>

      <p>Implementing it as a mixin can be useful if you don't want a wrapper element around your component.</p>

      <button class="btn btn-lg btn-primary" {{action "toggleShow"}}>Press me</button>
      {{#if show}}
        {{test-component}}
      {{/if}}


      <h4>your-component.js</h4>
<pre>
import Ember from 'ember';
import TransitionMixin from 'ember-css-transitions/mixins/transition-mixin';

export default Ember.Component.extend(TransitionMixin, {
  transitionClass: 'example'
  
  // The following can also be overwritten, these are the default values
  //enterClass: 'enter',
  //leaveClass: 'leave',
  //activeClass: 'active'
});
</pre>

      <h4>the template:</h4>
<pre>
\{{#if show}}
  \{{test-component}}
\{{/if}}
</pre>

      <h4>The CSS:</h4>
<pre>
.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}
</pre>
    </div>


    <div class="col-md-6">
      <h3>Standalone component:</h3>
      <p>Use the <code>transition-group</code> to animate components.</p>

      <button class="btn btn-lg btn-primary" {{action "toggleShow2"}}>Press me</button>
      {{#if show2}}
        {{#transition-group transition-class="exampletwo"}}
          <div class="well">
          <h1>I am using  <code>transition-group</code> component.</h1>
          </div>
        {{/transition-group}}
      {{/if}}



      <h4>the template:</h4>
<pre>
\{{#if show}}
  \{{#transition-group transition-class="exampletwo"}}
    &lt;div class="well"&gt;
      &lt;h1&gt;I am using  &lt;code&gt;transition-group&lt;/code&gt; component.&lt;/h1&gt;
    &lt;/div>
  \{{/transition-group}}
\{{/if}}
</pre>

      <h4>The CSS:</h4>
<pre>
.exampletwo-enter {
  opacity: 0.01;
}

.exampletwo-enter.exampletwo-enter-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
.exampletwo-leave {
  opacity: 1;
}

.exampletwo-leave.exampletwo-leave-active {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}
</pre>
    </div>


</div>
