<DocsHero
  @logo="ember"
  @byline="Pure CSS transitions in Ember."
/>

<div class="docs-container docs-md">
  <section class="docs-max-w-md docs-mx-auto docs-pb-8">

    Ember CSS Transitions helps you animate your components via CSS Transitions. Based on ng-animate and react animate.

  </section>
</div>