<div
  {{css-transition
    "transition-name"
    enterClass="enter"
    enterActiveClass="enter-active"
    enterToClass="enter-to"
    isEnabled=false
    leaveClass="leave"
    leaveActiveClass="leave-active"
    leaveToClass="leave-to"
    name="my-name"
    parentSelector=".parent"
  }}
></div>