# unconventional js
/blueprints/*/files/

# compiled output
/dist/

# misc
/coverage/
!.*
.*/

# ember-try
/.node_modules.ember-try/

# https://github.com/gitKrystan/prettier-plugin-ember-template-tag/issues/81
/tests/**/*.gjs
