name: CI

on:
  push:
    branches:
      - main
      - master
  pull_request: {}

concurrency:
  group: ci-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: "Lint"
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Lint Addon
        run: pnpm run lint
        working-directory: ember-css-transitions

      - name: Lint Test App
        run: pnpm run lint
        working-directory: test-app

  test:
    name: "Tests (useTestWaiters = ${{ matrix.test-waiters }})"
    runs-on: ubuntu-latest
    timeout-minutes: 10
    needs: 'lint'

    strategy:
      fail-fast: false
      matrix:
        test-waiters:
          - true
          - false

    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Run Tests
        run: USE_TEST_WAITERS=${{ matrix.test-waiters }} pnpm run test:ember
        working-directory: test-app

  floating:
    name: "Floating Dependencies"
    runs-on: ubuntu-latest
    needs: 'lint'

    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install --no-lockfile

      - name: Run Tests
        run: pnpm run test:ember
        working-directory: test-app

  test-docs:
    name: "Docs"
    runs-on: ubuntu-latest
    needs: 'lint'

    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Lint
        run: pnpm run lint
        working-directory: docs

      - name: Run Tests
        run: pnpm run test:ember
        working-directory: docs

  try-scenarios:
    name: ${{ matrix.try-scenario }}
    runs-on: ubuntu-latest
    needs: 'lint'

    strategy:
      fail-fast: false
      matrix:
        try-scenario:
          - ember-lts-3.24
          - ember-lts-3.28
          - ember-lts-4.4
          - ember-lts-4.8
          - ember-lts-4.12
          - ember-release
          - ember-beta
          - ember-canary
          - embroider-safe
          - embroider-optimized

    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Run Tests
        run: ./node_modules/.bin/ember try:one ${{ matrix.try-scenario }}
        working-directory: test-app

  ember-modifier-scenarios:
    name: ${{ matrix.ember-modifier-scenario }}
    runs-on: ubuntu-latest
    timeout-minutes: 20
    needs: 'lint'

    strategy:
      fail-fast: false
      matrix:
        ember-modifier-scenario:
          - ember-modifier@2
          - ember-modifier@3.1
          - ember-modifier@3.2
          - ember-modifier@^4.0.0

    steps:
      - uses: actions/checkout@v3
      - uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: pnpm

      - name: Install Dependencies
        run: pnpm install

      - name: Update ember-modifier version
        run: pnpm add -D ember-modifier
        working-directory: test-app

      - name: Run Tests
        run: pnpm run test:ember
        working-directory: test-app
